body {
   font-family: var(--font-family);
   background-image: url('assets/background.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100%;

   margin: 0;
   
}
